{% extends 'base.html'%}
{% block body %}

<form method="POST" enctype="multipart/form-data">
{% csrf_token %}
    <label> <h3>Name of the movie</h3></label><br>
    <input type="text" placeholder="Name of the movie" name="name"><br><br>
    <label> <h3>Description of the Movie</h3></label><br>
    <input type="text" placeholder="Name of the movie" name="desc"><br><br>
    <label> <h3>Year of Release</h3></label><br>
    <input type="text" placeholder="Name of the movie" name="year"><br><br>
    <input type="file" name="img"><br><br>
    <input type="submit">

</form>
{% endblock %}